@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/public/assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
      url('/public/assets/fonts/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/public/assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
     url('/public/assets/fonts/PlusJakartaSans-Bold.woff') format('woff');

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
